html, body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: rgb(245, 245, 245);
}

.main {
  width: 100%;
  height: 540px;
  background-image: url(../images/main.jpeg);
  background-size: cover;
  background-position: 0 30%;
  margin-top: -23px;
  transition: 0.9s;
}

.home {
	float: right;
	width: 52px;
	cursor: pointer;
	height: 52px;
	margin: 7px;
	background: url("../images/home.png");
	background-size: cover;
	border: 0px solid red;
	margin-right: 10px;
}

.slovo {
  padding-top: 210px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 61.4%;
  transition: 0.9s;
  letter-spacing: 5px;
  
} 

.mp {
  color: white;
  font-size: 2.7vw;
  padding-top: 30px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  transition: .5s;
}


@media screen and (max-width: 900px) {
  .mp {
    font-size: 5vw;
  }
}


.text {
  font: size 3.9em;
  margin: 0px 4% 40px 4%;
  padding: 20px 15px;
  border-radius: 0px 0px 20px 20px;
  background-color: #fff;
}

.comment {
  font-size: 1.6em;
  border-left: 2px solid #cdcdcd;
  height: 100%;
  padding: 0px 10px;
}

.io {
  background-color: rgba(0, 0, 0, 0) !important;
  transition: 0.9s;
}

.rr {
  background-color:#fff; 
  background-image: url(../images/main-down.jpg);
  color: black !important;
  background-position: center;
  transition: 0.9s; 
}

.totop {
  display: none;
  background-image: url(../images/top.svg);
  right: 4px; 
  bottom: 4%; 
  transition: .5s;
  position: fixed;
  width: 60px;
  height: 60px;
  background-size: cover;
  background-color: #04291400;
  border: none;
  outline: none;
  cursor: pointer;
}

.nav {
  width: 100%;
  height: 66px;
  background-color: rgba(0, 0, 0, 0.397) !important;
  z-index: 99;
  transition: 0.9s;
  position: fixed;
}

.rrr {
  background-color: #042914c9 !important;
  transition: 0.9s;
}



.menublock {
  width: 37%;
  min-width: 400px;
  height: 190px;
  background-color: #f1f8eef3;
  position: fixed;
  top: -203px;
  left: 0%;
  transition: 0.5s;
  opacity: 0;
  z-index: 9;
}

.menublockafter {
 top: 65px; 
 transition: 0.6s;
 opacity: 1;
 z-index: 9;
}

.burger {
  float: left;
  border-radius: 5px;
  background-color: #fff;
  width: 50px;
  height: 50px;
  background-color: rgba(45, 46, 56, 0);
  border: none;
  margin-top: 9px;
  margin-left: 20px;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.burger span {
  transition: all 0.3s;
  height: 6px;
  background-color: rgb(255, 255, 255);
  display: block;
  width: 50px;
  margin: 6px;
  border-radius: 10px;
}

.first {
  transform: translate(1px, 16px) rotate(45deg);
  /* transform-origin: left top; */
  width: 55px !important;
}

.second {
  transform: translateX(-50px);
  opacity: 0;
}

.third {
  transform: translate(1px, -17px) rotate(-45deg); 
  /* transform-origin: right bottom; */width: 55px !important;
}


.classes a {
  padding: 10px 35px;
  text-decoration: none;
  border: 2px solid #38644c;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 50px 3%;
  background-color: #38644c;
  transition: .5s;
}

.classes a:hover {
  color: #1e4630;
  background-color: #455c4f13;
}

.classes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
}

.classesinmenu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.classesinmenu button {
  padding: 5px 10px;
  border: 2px solid #38644c;
  font-size: 15px;
  color: #38644c;
  cursor: pointer;
  margin: 10px;
  transition: .5s;
}

.classesinmenu button:hover {  
  background-color: #38644c;
  color:rgb(255, 255, 255)
}


.testConteiner {
	border: 1px solid #cdcdcd;
	padding: 40px 25px 25px 25px;
	border-radius: 10px;
	width: 50%;
  margin-left: -70px;
	min-width: 300px;
	background-color: rgba(243, 238, 204, 0.342);
} 

.conteiner {
  border: 1px solid #cdcdcd;
	padding: 15px 15px 15px 15px;
  border: 3px solid rgba(3, 78, 3, 0.342);
	border-radius: 10px;
	width: 20%;
  margin: 20px 30px;
	min-width: 300px;
	background-color: rgb(226, 236, 227);
  height: fit-content;
  text-align: center;
  transition: .3s;
}

.conteiner:hover {
  transform: scale(1.003);
  box-shadow: 0px 0px 15px 1px rgba(46, 46, 46, 0.274);
  border-radius: 0px;
  z-index: 1;
}

.conteiner a {
  position: relative;
  text-align: center;
width:auto;
  text-decoration: none;
}

.conteiner a::after {
  position: absolute;
  left: 0;
  width: 60%;
  left: 20%;
  height: 3px;
  background-color: rgba(3, 78, 3, 0.442);
  content: "";
  border-radius: 5px;
  opacity: 0;
  transform: translateY(10px);
  transition: .5s;
}

.conteiner:hover a::after {
  opacity: 1;
  transform: translateY(0px);

}

.conteiner img {
  width: 100%; 
  margin: 0;
  transition: ease-out .5s;
  overflow: hidden;
  border-radius: 10px;
  transform: scale(1);
}

.conteiner:hover img {
  transform: scale(1.012);
  overflow: hidden;
}

.conteiner p {
  color:rgb(9, 56, 9);
  font-size: 30px;
  margin: 20px 0px 10px 0px !important;
  text-align: center;
}

.themes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.menublock h1 {
  margin-bottom: 10px;
  margin-top: 30px;
}

@media screen and (min-width: 1295px) {
  .menublock h1 {
    margin-bottom: 30px;
  }
}

/* кнопки с вариантами */
.maintest div button {
  cursor: pointer;
  width: 90%;
  outline: none;
  text-align: start;
  border: none; 
  color: #3f3f3f;
  border-radius: 15px;
  margin: 10px 0px;
  padding: 10px 25px 10px 25px;
  font-size: 20px;
  font-style: italic;
  background-color: #cccccc;
  display: flex;
  font-family: sans-serif;
}

/* блок с вопросом */
.maintest div {
  background-color: #ececec;
  width: 40%;
  min-width: 295px;
  padding: 20px 40px;
  margin: 20px;
  border-radius: 20px;
}

/* кнопка вывода */
.getAnswer {
  cursor: pointer;
  outline: none;
  height: 40px;
  border: 3px solid green;
  color: rgb(2, 51, 6);
  border-radius: 10px;
  font-size: 20px;
  padding: 5px 20px;
  margin: 10px 0px 20px 40px;
  z-index: 99;
  transition: .8s;
  background-color: #fff;
}

.getAnswer:hover {
  color: rgb(7, 4, 4);
  background-color: rgb(239, 255, 248);
  border: 3px solid rgb(2, 49, 2);
  border-radius: 0px;
}


.close {
  position: fixed;
  width: 150%;
  height: 200vh;
  margin: -700px 0px 0px -200px;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.481);
  display: none;
}

/* блок вывода */
.answer {
  width: 35%;
  min-width: 550px;
  max-width: 800px;
  height: 300px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: fixed;
  background-color: rgb(235, 235, 235);
  border: 6px solid rgb(35, 84, 25);
  border-radius: 20px;
  text-align: center;
  padding-top: 40px;
  z-index: 100;
  display: none;
  font-size: 1.7em !important;
}

.maintest div img {
  width: 70%;
  cursor: pointer;
  margin-left: 5%;
  border-radius: 20px;
  transition: 0.3s;
}

.maintest div img:hover {
  opacity: 0.92;
}


.toback {
  right: -10px; 
  bottom: 120px; 
  width: 40px; 
  height: 30px; 
  position: fixed; 
  cursor: pointer;
}

@media screen and (max-device-width: 780px) {
  .answer {
    width: 1000px;
    font-size: 2.5em !important;
    height: 465px;
    padding: 100px 0px 0px 0px;
  }
  .getAnswer {
    height: 60px;
    font-size: 30px;
  }
  .maintest div {
    width: 70%;
  }
  .maintest div image { 
    width: 75%;
  }
  h1 {
    font-size: 2.7em;
  }
  .maintest div button {
    font-size: 27px;
    width: 100%;
  }
  .nav {
    height: 100px;
    margin-top: -7px;
  }
   .home{
  	width: 86px;
  	height: 86px;
  	margin: 7px;
  	margin-right: 10px;
  }
  .burger {
    width: 90px;
    height: 84px;
  }
  .burger span {
    width: 70px;
    margin: 8px;
  }
  .mp {
    font-size: 4vw;
  }
  .toback {
    bottom: 220px; 
    width: 60px; 
    height: 45px; 
  }
  .maintest div img {
    width: 90%;
  }
  .totop {
    right: 35px;
    width: 90px;
    height: 90px;
  }
  .menublock {
    min-width: 800px;
    height: 210px; 
  }
  .menublockafter {
    top: 100px;
  }
  .classesinmenu button {
    font-size: 25px;
    margin-top: 30px;
  }
  .classes a {
    font-size: 1.8em;
  }
  .bori {
    font-size: 34px !important;
  }
  .borii {
    font-size: 40px !important;
  }
  .first {
    transform: translate(1px, 27px) rotate(45deg);
    width: 75px !important;
  }
  .second {
    transform: translateX(-50px);
    opacity: 0;
  }
  .third {
    transform: translate(1px, -17px) rotate(-45deg); 
    width: 75px !important;
  }
  .main {
    margin-top: -29px;
  }
}
/* .answer {
  width: 40%;
  height: 40%;
  position: fixed;
  top: 24vh;
  left: 30%;
  background-color: rgb(235, 235, 235);
  border: 6px solid rgb(35, 84, 25);
  border-radius: 20px;
  text-align: center;
  padding-top: 10vh;
  z-index: 100;

  display: none;
  font-size: 1.7vw !important;
} */


.myModal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 150px;
  left: -10px;
  right: 0;
  top: 0;
  width: 102%;
  height: 100%;
  overflow: auto;
  background-color: #000000a9;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 900px;
  max-height: 600px;
  transform: scale(0);
  transition: 0.6s;
}


.modal-content-open {
  transform: scale(1) !important;
  width:auto
}

.close-but {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}



@media screen and (max-width: 700px) {
  .modal-content{width: 100%;}
}